
BoatControl\.Shared\.Test/bin/Debug/

BoatControl\.Shared\.Test/bin/Release/

BoatControl\.Shared/obj/

*.CopyComplete

BoatControl\.Shared/bin/
BoatControl\.Shared/obj/

BoatControl\.Shared\.Test/obj/

\.vs/
/BoatControl.Shared.Bluetooth/bin/
/BoatControl.Shared.Bluetooth/obj/
/packages

obj/
